extends layout

block content
    .row.page-header
        .col-lg-12
            h1= pageHeader.title
                a.btn.btn-default.pull-right(type="button", href="/admin/asset/#{asset._id}/delete") Delete
                a.btn.btn-default.pull-right(type="button", href="/asset-edit") Edit
    .row
        .col-xs-12.col-md-9
            p Asset Tag: #{asset.assetTag}
            p Hostname: #{asset.hostname}
            p SKU: #{asset.skuModel}
            p HW Model: #{asset.hwModel}
            p Manufacturer: #{asset.mfgName}
            p Location: #{asset.locName}
            p Group: #{asset.groupName}
            p Health Status: #{asset.healthStatus}
            P Reserved: #{asset.resStatus}
            if (asset.resStatus == true)
              p Current Reservation: #{asset.currentResId}
                  | &nbsp
                  a.btn.btn-default(type="button", href="/reservations/delete/#{asset.currentResId}") Release Reservation