extends layout

block content
    #banner.page-header
        .row
            .col-lg-6
                h1= pageHeader.title
                    small &nbsp; #{pageHeader.strapline}
        .row
            .col-xs-12.col-sm-8
                .error= message
                .row.list-group
                    each asset in assets
                        .col-xs-12.list-group-item
                            h4
                                a(href="/assets/#{asset._id}")= asset.hostname
                                span.badge.pull-right= asset.assetStatus
                            p.assetTag= asset.assetTag
                            p
                                span.label.label-warning= asset.skuModel
                                | &nbsp
                                span.label.label-warning= asset.mfgName
                                | &nbsp
                                span.label.label-warning= asset.hwModel
                                | &nbsp
                                if (asset.resStatus == false)
                                  span.label.label-success Free
                                  a.btn.btn-success.pull-right(type="button", href="/reservations/create/#{asset._id}") Reserve
                                else
                                  span.label.label-danger.pull-right Reserved
            .col-xs-12.col-sm-4
                p.lead LaRRS helps you reserve an asset in HWE Labs and takes care of it once it is released.