extends layout

block content
    .row.page-header
        .col-lg-12
            h1= pageHeader.title
                small &nbsp; #{pageHeader.strapline}
    .row
        .col-xs-12.col-sm-8
            .error= message
            .row.list-group
                each item in items
                    .col-xs-12.list-group-item
                        h4
                            a(href="/#{item.type}/#{item._id}")= item.name
                            a.btn.btn-default.pull-right(href="/admin/#{item.type}/#{item._id}/delete")
                                | Delete
                            | &nbsp &nbsp
                            a.btn.btn-default.pull-right(href="/edit") Edit
                        p= item.notes
    .row
        a.btn.btn-default(href='/admin/#{type}/new') Add New
